html, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-family:inherit;vertical-align:baseline;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}

/**
 * Basic Typography
 */
html,body{
    height: 100%;
    padding: 0px !important;
    margin: 0px !important;
}
body {
    font-family: "Lucida Grande", Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
    font-size:15px;
    color: #555555;
    position:relative;
}
html {
    overflow-y: scroll;
}
#body{
    padding-bottom: 20em;    /* height of footer */
    text-align:center;
}
#holder{
    min-height: 100%;
    position:relative;
    padding:0;
    margin:0;
}
#header {
    background: url(img/gradient.svg) center -20% repeat-y;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color:rgb(82,147,193);
    background-color:rgba(82,147,193,0.9);
    border-bottom:2px solid #5f5f5f;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    position:fixed;
    width:100%;
    transition: top 0.3s;
}
#footer {
    width:100%;
    position: absolute;
    left: 0;
    bottom: 0; 
    background: url(img/gradient.svg) center bottom repeat-y;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color:rgb(30,30,30);
    background-color:rgba(0,0,0,0.8);
}
.footer {
    padding:10px 0px 0px 0px;
    text-align:center;
    margin:0;
    -webkit-box-shadow: inset 0px 20px 20px -9px rgba(0, 0, 0, 0.7);
    box-shadow: inset 0px 20px 20px -9px rgba(0, 0, 0, 0.7);
    position:relative;
    background:transparent;
    display:table;
    width:100%;
}
.footer div {
    background:transparent;
    color:white;
    text-align:center;
    line-height:18px;
    display:table-cell;
}
.footer a, .footer a:visited {
    color: #975E37 !important;
}
a, a:visited {
    outline:none;
    color: #7ec667;
}
a:hover {
    text-decoration:none;
    color:#40b4de !important;
}
a[href] {
    background-color: transparent;
    font-variant:small-caps;
    text-decoration:none;
}
input, select {
    color: #754;
}
h1, h2, h3, h4, h5, h6 {
    color: #003a6b;
    background-color: transparent;
    font: 100% 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
    margin: 0;
    font-variant: small-caps;
}
h1 {
    font-size: 160%;
    margin-bottom: 0.5em;
}
h2 {
    font-size:190%;
    color:#5f5f5f;
    font-weight:bold;
    margin-bottom: 1em;
    font-weight: bold;
    border-bottom:1px solid #afafaf;
    text-align:left;
}
h3 {
    font-size: 120%;
    margin-bottom: 0.5em;
    text-decoration: none;
    font-weight: bold;
}
h4 {
    font-size: 100%;
    font-weight: bold;
}
h5 {
    font-size: 90%;
    font-weight: bold;
}
h6 {
    font-size: 80%;
    font-weight: bold;
}
.helptext {
    padding-top:1em;
    line-height:160%;
    text-align:justify;
    /*font-size:90%;*/
}
.doxtext {
    text-align:left;width:700px;white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
#current_page {
    float:right;
    width:200px;
}
.grass {
    background-image:url('img/grass.png');height:20px
}
.project-name {
    font-size:150%;
}
.event {
    text-align:left;
    list-style-type:none;
}
.event li {
    padding-bottom:1em;
}
.event .title {
    font-weight:bold;
    font-size:130%;
    font-size: 130%;
    margin-left: -20px;
    padding-bottom: 0.5em;
    padding-top: 1.5em;
}
.event .upcoming .title {
    color: gold;
    font-size: 130%; 
}
.event .body {
    background-color: #fafafa;
    border-bottom: 2px solid #afafaf;
    padding:10px;
}
.event .time {
    text-align:right;
    font-style:italic;
    font-size:80%;
    padding-top:5px;
}
.year {
    color: #5081A3;
    font-size:130%;
}
.event .anchor {
    color: #5081A3;
}
.event .body img {
    border-radius:10px;
    border: 1px solid #acacac;
}
.ievent {
    display:table-cell;
    width:390px;
    margin:2px;
    padding:5px;
}
.ievent .title {
    padding:5px;
    background-color: #f4f4f4;
    text-align:center;
    font-weight:bold;
}
.ievent .body {
    padding: 5px;
    font-size:85%;
    text-align:center;
}
.ine {
    background-color:#fafafa;
    border:1px solid #dcdcdc;
    height:10em;
    border-radius:5px;
    overflow:hidden;
}
.ine:hover {
    background-color: #2a2a2a;
    opacity:0.5;
}
.ine .body:hover {
    color:white;
}
.ine .title:hover {
    color:red;
}
.ievent .body img {
    border-radius:5px;
    border: 1px solid #acacac;
}
.ievent .time {
    text-align:right;
    font-style:italic;
    font-size:80%;
    padding-top:5px;
}
.card-block {
    padding-left:1em;
}
.card {
    padding-bottom:1em;
}
.card-item {
    padding-left:1em;
}
.card-item-label {
    font-weight: bold;
}
.listlinks {
    color: gray !important;
    font-size:90%;
    padding-left: 1em;
}
.menu {
    display: block;
    margin: 0;
    padding: 0;
}
.menu li
{
    background-color: transparent;
    display: inline-block;
    margin: 0;
    padding:0;
    vertical-align:middle;
}
.menu li a {
    background-color: transparent;
    color: #ffffff !important;
    cursor: pointer;
    display: block;
    padding:0.6em;
}
.menu li a:hover {
    background-color:#5f5f5f;
    color: #ffffff !important;
}
.menu li ul {
    border-bottom: 2px dotted #a6a6a6;
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 9999;
}
.menu li ul li {
    display: block;
    vertical-align:middle;
    padding: 0;
}

@media only screen and (hover: none) and (pointer: coarse){

/* Regular CSS rules here*/
    body {
        font-size:2rem;
    }
}
